footer(class='footer')
    div(class='wrapper')
        div(class='footer__content')
            img(src=require('../images/logo.png') class="logo", alt="logo")
    
            div(class='copyright') &copy;
                span(class='copyright__text') Электро-карнизы.рф, 2018

            div(class="feedback feedback__footer")
                 
                div(class='feedback-phone')
                    a(href="/" class='link feedback__link')
                        div(class='phone-icon')
                        div(class='feedback-link--text') 8 (800) 222-45-22
                div(class='feedback-email')
                    a(href="/" class='link feedback__link') 
                        div(class='message-icon head__message-icon') 
                        div(class='feedback-link--text') electrokarnizy@mail.ru

