div(class="header")
    div(class='wrapper')

        div(class='head')
            img(src=require('../images/logo.png') class="logo header-logo", alt="logo")

            nav(class='head__nav nav')
                ul(class='list nav__list')
                    li(class='list__item nav__item'): a(class='link nav__item-link') Главная
                    li(class='list__item nav__item list__item')
                        a(class='link nav__item-link') Продукция

                        div(class='item-menu')
                            ul(class='list item-menu__list')
                                li(class='list__item item-menu__item')
                                    a(class='item-menu__link') Раздвижные карнизы
                                    div(class='item-menu__icon')
                                li(class='list__item item-menu__item')
                                    a(class='item-menu__link') Подъёмные карнизы
                                    div(class='item-menu__icon')
                                li(class='list__item item-menu__item')
                                    a(class='item-menu__link') Рулонные шторы
                                    div(class='item-menu__icon')
                                li(class='list__item item-menu__item')
                                    a(class='item-menu__link') Жалюзи
                                    div(class='item-menu__icon')

                    li(class='list__item nav__item'): a(class='link nav__item-link') Калькулятор
                    li(class='list__item nav__item'): a(class='link nav__item-link') Портфолио
                    li(class='list__item nav__item'): a(class='link nav__item-link') Контакты

            div(class="feedback head__feedback")
                 
                div(class='feedback-phone')
                    a(href="/" class='link feedback__link')
                        div(class='phone-icon')
                        div(class='feedback-link--text') 8 (800) 222-45-22
                div(class='feedback-email')
                    a(href="/" class='link feedback__link') 
                        div(class='message-icon head__message-icon') 
                        div(class='feedback-link--text') electrokarnizy@mail.ru


