section(class='section')
    div(class='wrapper')
        h1(class="title") что мы производим
        div(class='content')
            div(class='make')
                ul(class='list make__list')
                    li(class='make__item')
                        div(class='make__item-title')
                            span(class='make__item-number') 1
                            div(class='make__item-text') Раздвижные карнизы
                        div(class='make__desc') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam odit veritatis labore similique dolorem. Laboriosam beatae qui sit libero! Nobis aperiam commodi quae officiis asperiores iure illo tenetur vero omnis?
                        div(class='make__video')
                            <iframe width="555" height="316" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen></iframe>

                    li(class='make__item')
                        div(class='make__item-title')
                            span(class='make__item-number') 2
                            div(class='make__item-text') Подъемные карнизы
                        div(class='make__desc') Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil maxime autem dolores eum eveniet consequatur in error alias cupiditate, repudiandae numquam hic praesentium, ratione fuga odit sed officiis fugit excepturi? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, consectetur rem dicta laboriosam obcaecati quasi provident nobis! Earum quos rerum autem, dicta tenetur, modi harum assumenda consequatur tempora laboriosam neque.
                        div(class='make__video')
                            <iframe width="555" height="316" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen></iframe>
                    li(class='make__item')
                        div(class='make__item-title')
                            span(class='make__item-number') 3
                            div(class='make__item-text') Рулонные шторы
                        div(class='make__desc') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione fuga illo repudiandae, facilis id exercitationem excepturi quibusdam velit itaque natus dignissimos quisquam soluta odio, est sunt sit! Architecto, in quae!
                        div(class='make__video')
                            <iframe width="555" height="316" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen></iframe>
                    li(class='make__item')
                        div(class='make__item-title')
                            span(class='make__item-number') 4
                            div(class='make__item-text') Жалюзи
                        div(class='make__desc') Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero laborum consectetur asperiores nemo repellat ipsam modi libero rerum temporibus, iure, ab voluptatum, a aperiam illum impedit. Nobis iure voluptate sapiente. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ad reprehenderit cum voluptatibus deleniti, necessitatibus nobis voluptate repellat, quas obcaecati facere harum rem? Minima in nisi molestias non quod porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cum pariatur, labore iure enim vitae quis impedit tempore quaerat, nisi quae quam ad quos unde autem velit placeat officiis expedita!
                        div(class='make__video')
                            <iframe width="555" height="316" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen></iframe>