section(class="section")
    h2(class='title') связаться с нами 

    div(class='contacts__bg')
        div(class='wrapper')
            div(class='contacts')
                div(class='contacts__form') 
                    div(class='form__title') оставьте заявку
                        <br/> на бесплатный замер
                    input(type="text" class='form__input form__input-name' placeholder="Ваше имя")
                    input(type="text" class='form__input form__input-phone' placeholder='Ваш телефон')

                    a(href="#", class='button link button--black') Отправить
                        img(class='button__paper-icon' src=require('../images/paper-plane.png'), alt="")
                
                
                div(class='contacts__about') 
                    div(class='about__tel')
                        div(class='about__title') Телефон:
                        div(class='about__text') +7 (800) 222-45-22  
                    div(class='about__email')
                        div(class='about__title') E-mail:
                        div(class='about__text') electrokarnizy@mail.ru
                    div(class='about__ads')
                        div(class='about__title') Адрес офиса:
                        div(class='about__text') 192007, Санкт-Петербург,  наб. Обводного канала дом 64, офис 29
                    div(class='about__hrs')
                        div(class='about__title') Часы работы
                        div(class='about__text') Ежедневно с 10.00 до 22.00
                    div(class='about__social')
                        div(class='about__title') Социальные сети
                        div(class='social-group')
                            img(class='social-icon' src=require('../images/instagram-logo.png'), alt="")
                            img(class='social-icon' src=require('../images/facebook-logo-button.png'), alt="")
                            img(class='social-icon' src=require('../images/vk-social-logotype.png'), alt="")