section(class="section")
    div(class='wrapper')
        h2(class='title') отзывы о нашей работе

        div(class='client-fb')
            ul(class='list client-fb__list')
                li(class='list__item client-fb__item')
                    div(class='client-fb__name') Андрей
                    div(class='client-fb__date') 14.11.2018
                    div(class='client-fb__text') Добрый вечер! Заказ получила. Спасибо Вам огромное! Отличный сервис и подход к клиенту. Я очень довольна! У вас прекрасный магазин, менеджеры и логистика! Крайне редко сейчас встретишь такое. Благодарю за то, что услышали мое пожелание и исполнили! Удачи Вам и процветания бизнесу!
                li(class='list__item client-fb__item')
                    div(class='client-fb__name') Андрей
                    div(class='client-fb__date') 14.11.2018
                    div(class='client-fb__text') Заказала в этом интернет-магазине льняные рулонные шторы. Вначале сомневалась. Но когда курьер привез их, мне очень понравились! Повесили без проблем, с помощью видео-инструкции на сайте. Все просто и понятно! Качество отличное, шторы замечательно вписались в мою деревянную кухню! Спасибо интернет- магазину, консультанту Ольге и вежливому курьеру, с радостью всем рекомендую!
            
            span(class='client__move client__move-prev')
                img(class='client__move-prev_icon' src=require('../images/next.png'), alt="")
            span(class='client__move client__move-next')
                img(class='client__move-next_icon' src=require('../images/next.png'), alt="")
