section(class="section")
    div(class='wrapper')
        h2(class='title') наши клиенты
        
        div(class='clients')
            div(class='client__item')
                img(class='client-icon' src=require('../images/L1.png'), alt="")
            div(class='client__item')
                img(class='client-icon' src=require('../images/L2.png'), alt="")
            div(class='client__item')
                img(class='client-icon' src=require('../images/L4.png'), alt="")
            div(class='client__item')
                img(class='client-icon' src=require('../images/L3.png'), alt="")