section(class="section")
    div(class='wrapper')
        h2(class='title') О компании

        div(class='about-company')
            div(class='about-company__text') Компания "ЭЛЕКТРО КАРНИЗЫ РФ" занимается продажей солнцезащитных систем на электроприводе с дистанционным управлением с установкой нашими профессиональными инженерами.<br /> В нашем каталоге представлен широкий ассортимент карнизов с электроприводом для штор, жалюзи, рольставень, маркиз, ворот от ведущих мировых производителей электроуправляемых приводов: Somfy, Raex, Novo, G-Rail, Hunter Douglas, Nero, Silent Gliss, Mottura, Elero, Coulisse и Sundrape. Данная продукция идеально подойдет для владельцев больших квартир с панорамными окнами, коттеджей, огромных офисов (open space) и магазинов в торговых центрах.
            a(href="" class='button link about-company__button') Читать подробнее
                img(class='button__paper-icon' src=require('../images/round-add-button.png'), alt="")