section(class="section")
    div(class='wrapper')
        h2(class='title') посмотрите как это работает

        div(class='working')
            div(class='working__item')
                iframe(class="working__item-video" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen)
            div(class='working__item')
                iframe(class="working__item-video" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen)
            div(class='working__item')
                iframe(class="working__item-video" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen)
