section(class="section")
    h2(class='title') мы в инстаграм

    div(class='insta-photo')
        ul(class='list insta-photo__list')
            li(class='list__item insta-photo__item')
                img(class='insta-photo__img' src=require('../images/инстаграм1.png'), alt="")
            li(class='list__item insta-photo__item')
                img(class='insta-photo__img' src=require('../images/инстаграм2.png'), alt="")
            li(class='list__item insta-photo__item')
                img(class='insta-photo__img' src=require('../images/инстаграм3.png'), alt="")