section(class="section")
    div(class='wrapper')
        h2(class='title') наша команда

        div(class='team')
            ul(class='list team__list')
                li(class='list__item team__item')
                    img(class='team__item-img' src=require('../images/Laq1.png'), alt="")
                    div(class='team__item-title') Анна, консультант
                    div(class='team__item-text') Поможет выбрать для вас лучший вариант электрокарнизов и проконсультирует по любому вопросу
                li(class='list__item team__item')
                    img(class='team__item-img' src=require('../images/Laq2.png'), alt="")
                    div(class='team__item-title') Анна, консультант
                    div(class='team__item-text') Поможет выбрать для вас лучший вариант электрокарнизов и проконсультирует по любому вопросу
                li(class='list__item team__item')
                    img(class='team__item-img' src=require('../images/Laq3.png'), alt="")
                    div(class='team__item-title') Анна, консультант
                    div(class='team__item-text') Поможет выбрать для вас лучший вариант электрокарнизов и проконсультирует по любому вопросу