section(class='section')
    div(class='wrapper')
        h1(class="title") способы управления
        div(class='controls')
            ul(class='list controls__list')
                li(class='list__item controls__item')
                    img(src=require('../images/asd.png') class='controls__item-img' alt="")
                    div(class='controls__item-title') Проводное управление
                li(class='list__item controls__item')
                    img(src=require('../images/as.png') class='controls__item-img' alt="")
                    div(class='controls__item-title') Радиоуправление
                li(class='list__item controls__item')
                    img(src=require('../images/qw.png') class='controls__item-img' alt="")
                    div(class='controls__item-title') Управление со смартфона
                li(class='list__item controls__item')
                    img(src=require('../images/ss.png') class='controls__item-img' alt="")
                    div(class='controls__item-title') Умный дом