html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        include ./components/header
        include ./components/section-1
        include ./components/section-2
        include ./components/section-3
        include ./components/section-4
        include ./components/section-5
        include ./components/section-6
        include ./components/section-7
        include ./components/section-8
        include ./components/section-9
        include ./components/section-10
        include ./components/section-11
        include ./components/section-12
        include ./components/footer
        