.about-company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -20px;
}

.about-company__text {
    font-family: MullerRegular, sans-serif;
    width: 670px;
    font-size: 16px;
    line-height: 1.5;
}

.about-company__button {
    margin-top: 55px;
    background: $yellow;
    color: #000000;
}