.insta-photo__list {
    display: flex;
    justify-content: space-between;
}

.insta-photo__item {
    max-width: 33%;
}

.insta-photo__img {
    width: 100%;
}

.insta-photo {
    margin-bottom: -20px;
}